<section id="project" class="section project-section">
  <div class="container">
    <h2 class="section-title">Projects</h2>
    <div class="project-swiper-container swiper-container">
      <ul class="project-swiper-wrapper swiper-wrapper">
        <li class="projects-swiper-slide swiper-slide">
          <div class="projects-white-side">
            <ul class="projects-tech-list">
              <li class="projects-tech-item">#react</li>
              <li class="projects-tech-item">#js</li>
              <li class="projects-tech-item">#node</li>
              <li class="projects-tech-item">#git</li>
            </ul>
            <h3 class="project-slide-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a href="#" class="projects-slide-link" target="_blank"
              >See project</a
            >
          </div>
          <div class="project-dark-side">
            <img
              src="../img/projects/projects_1_1x.webp"
              srcset="../img/projects/projects_1_2x.webp"
              alt="read journey"
              class="projects-img"
              loading="lazy"
            />
          </div>
        </li>
        <li class="projects-swiper-slide swiper-slide">
          <div class="projects-white-side">
            <ul class="projects-tech-list">
              <li class="projects-tech-item">#react</li>
              <li class="projects-tech-item">#js</li>
              <li class="projects-tech-item">#node</li>
              <li class="projects-tech-item">#git</li>
            </ul>
            <h3 class="project-slide-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a href="#" class="projects-slide-link" target="_blank"
              >See project</a
            >
          </div>
          <div class="projects-black-side">
            <img
              src="../img/projects/projects_2_1x.webp"
              srcset="../img/projects/projects_2_2x.webp"
              alt="petlove "
              class="projects-img"
              loading="lazy"
            />
          </div>
        </li>
        <li class="projects-swiper-slide swiper-slide">
          <div class="projects-white-side">
            <ul class="projects-tech-list">
              <li class="projects-tech-item">#react</li>
              <li class="projects-tech-item">#js</li>
              <li class="projects-tech-item">#node</li>
              <li class="projects-tech-item">#git</li>
            </ul>
            <h3 class="project-slide-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a href="#" class="projects-slide-link" target="_blank"
              >See project</a
            >
          </div>
          <div class="projects-black-side">
            <img
              src="../img/projects/projects_3_1x.webp"
              srcset="../img/projects/projects_3_2x.webp"
              alt="vocab builder"
              class="projects-img"
              loading="lazy"
            />
          </div>
        </li>
      </ul>
    </div>
    <div class="projects-button-wrapper">
      <button class="project-button-prev">
        <svg class="projects-button-icon">
            <use href="../img/icons.svg#icon-arrow-left">
        </svg>
      </button>

        <button class="project-button-next">
            <svg class="projects-button-icon">
                <use href="../img/icons.svg#icon-arrow-right">
             </svg>
        </button>
    </div>
  </div>
</section>
